:root {
    --color-peru: #ed7d31;
    --color-midnight-blue: #0042a0;
    --color-dodger-blue: #169cd8;
    --color-red: #9D3633;
}

.hide-item {
    display: none !important;
}

body {
    background: white !important;
}

.page-head {
    top: 60px;
}
