include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include install_manager *.css
recursive-include install_manager *.csv
recursive-include install_manager *.html
recursive-include install_manager *.ico
recursive-include install_manager *.js
recursive-include install_manager *.json
recursive-include install_manager *.md
recursive-include install_manager *.png
recursive-include install_manager *.py
recursive-include install_manager *.svg
recursive-include install_manager *.txt
recursive-exclude install_manager *.pyc
