include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include crew_management *.css
recursive-include crew_management *.csv
recursive-include crew_management *.html
recursive-include crew_management *.ico
recursive-include crew_management *.js
recursive-include crew_management *.json
recursive-include crew_management *.md
recursive-include crew_management *.png
recursive-include crew_management *.py
recursive-include crew_management *.svg
recursive-include crew_management *.txt
recursive-exclude crew_management *.pyc