:root {
    --color-peru: #ed7d31;
    --color-midnight-blue: #0042a0;
    --color-dodger-blue: #169cd8;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}


.main-section {
    height: 100%;
}

#body {
    height: 100%
}

.page-container {
    background: white;
}

.job-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 20px;
}

.team-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.team-wrapper .team-title {
    font-weight: bold;
    font-size: 14px;
    border-bottom: 1px solid;
    padding-bottom: 5px;
    color: var(--color-midnight-blue);
}

.team-wrapper .team-title::after {
    content: ''; /* Unicode character for "plus" sign (+) */
    float: left;
    margin-left: 5px;
    margin-right: 10px;
    width: 0;
    height: 0;
    margin-top: 5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid var(--color-peru);
    border-bottom: 0;
}

.team-wrapper .team-title.collapsed::after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid var(--color-peru);
    border-top: 0;
}

.team-wrapper .list-job {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.team-wrapper .list-job.collapsed {
    display: none;
}

.team-wrapper .list-job .job-item {
    border: 1px solid var(--color-midnight-blue);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 0;
}

.team-wrapper .list-job .job-item:last-child {
    margin-bottom: 0;
}
