.navbar {
    background: black;
}


.navbar .job-title {
    margin-left: 20px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 20px;
    border-left: 1px solid var(--color-title);
    color: var(--color-title);
    text-transform: uppercase;
}

.navbar .job-title:hover, .navbar .job-title:focus, .navbar .job-title:active {
    color: var(--color-title);
}

body {
    background: black;
}

.main-section {
    background: black;
}

.layout-main-section-wrapper {
    margin-bottom: 0;
    margin-top: 20px;
}

.page-container {
    background: black;
    height: 100%;
}

.job-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.filter-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.filter-wrapper .filter-by-team {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}
.filter-wrapper .filter-by-team a {
    height: 32px;
}
.filter-wrapper .filter-by-team label {
    color: var(--color-title);
    border: 1px solid var(--color-diver);
    border-right: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 0;
    padding: 5px 30px;
    background: var(--color-gray);
}

.filter-wrapper .filter-by-team a.btn-filter {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: white;
}

.result-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid var(--color-border-red);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 50px;
}

.result-wrapper .job-item {
    border: 1px solid var(--color-diver);
    padding: 10px;
    border-radius: 8px;
    background-color: #363636;
    margin-bottom: 20px;
}

.result-wrapper .job-item:hover {
    text-decoration: none;
}

.result-wrapper .job-item:last-child {
    margin-bottom: 0;
}

.result-wrapper .job-item .job-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.result-wrapper .job-item .job-header .job-title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    max-width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.result-wrapper .job-item .job-header .job-timer {
    font-weight: 600;
    font-size: 14px;
}

.result-wrapper .job-item .job-header .job-timer .in-progress {
    color: var(--color-in-progress);
}

.result-wrapper .job-item .job-header .job-timer .resolve-ready {
    color: var(--color-resolve-ready)
}

.result-wrapper .job-item .job-header .job-timer .non-complaint {
    color: var(--color-non-complaint);
}

.result-wrapper .job-item .job-header .job-timer .resolved {
    color: var(--color-resolved);
}

.result-wrapper .job-item .job-header .job-timer .escalate {
    color: var(--color-escalate)
}

.result-wrapper .job-item .job-header .job-timer .completed {
    color: var(--color-complete)
}


.result-wrapper .job-item .job-status {
    margin-bottom: 10px;
    padding: 7px 20px;
    border-radius: 30px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.result-wrapper .job-item .job-reason {
    text-align: center;
    color: var(--color-title);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.all-filter-modal .modal-header {
    flex-direction: column;
}

.all-filter-modal .modal-header .header-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.all-filter-modal .modal-header .reset-default {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.all-filter-modal button.close {
    margin-top: -15px;
}

.all-filter-modal .filter-modal-wrapper .filter-content {
    max-height: calc((80vh - 270px) / 3);
    overflow: auto;
}

.filter-modal.all-filter-modal .all-filter-modal-wrapper {
    padding: 20px;
    background: var(--color-diver);
    border-radius: 8px;
}

.filter-modal.all-filter-modal .filter-modal-wrapper .filter-content {
    margin-bottom: 20px;
}

.filter-modal.all-filter-modal .filter-modal-wrapper .filter-content.last-child {
    margin-bottom: 0;
}

.team-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 10px 10px 0;
    border: 1px solid var(--color-midnight-blue)
}

.team-wrapper.escalation {
    border: 1px solid var(--color-red)
}

.team-wrapper .team-title {
    font-weight: bold;
    font-size: 14px;
    border-bottom: 1px solid;
    padding-bottom: 15px;
    padding-top: 5px;
    color: var(--color-midnight-blue);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.team-wrapper .team-title .escalated-label {
    font-weight: bold;
    color: var(--color-red);
}

.border-none {
    border: none !important;
}

.team-wrapper .team-title::before {
    content: ''; /* Unicode character for "plus" sign (+) */
    float: left;
    margin-left: 5px;
    margin-right: 10px;
    width: 0;
    height: 0;
    margin-top: 5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid var(--color-peru);
    border-bottom: 0;
}

.team-wrapper .team-title.collapsed::before {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid var(--color-peru);
    border-top: 0;
}

.team-wrapper .list-job {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.team-wrapper .list-job.collapsed {
    display: none;
}

.team-wrapper .list-job .job-item {
    border-bottom: 1px solid var(--border-color);
    padding: 10px;
    border-radius: 0;
}

.team-wrapper .list-job .job-item:last-child {
    border: none;
}

.team-wrapper .list-job .job-item:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 540px) {
    a.btn-filter {
        padding: 5px 13px;
    }

    .layout-main-section-wrapper {
        margin-top: 0;
    }

    .navbar.job-page {
        border-bottom: none !important;
    }

    .navbar .job-title {
        color: var(--color-title);
        text-align: center;
        border-left: none;
        width: 80%;
        margin-left: 0;
        padding-left: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .filter-wrapper {
        justify-content: space-between;
    }

    .filter-wrapper .filter-by-team {
        justify-content: flex-start;
        align-items: center;
        margin-right: 10px;
        height: 32px;
    }

    .filter-wrapper .filter-by-team label {
        padding: 5px 13px;
    }

    .filter-wrapper .filter-by-team a {
        padding: 5px 13px !important;
        max-width: 140px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .filter-wrapper .all-filter {
        border-radius: 20px;
        background: rgb(51, 51, 51);
    }


    .result-wrapper {
        padding: 15px;
        max-height: calc(var(--vh) - 130px);
        overflow: auto;
        margin-bottom: 0;
    }

    .result-wrapper .job-item {
        padding: 5px;
    }

    .all-filter-modal .filter-modal-wrapper .filter-content {
        max-height: 180px;
        /*max-height: calc((80vh - 270px) / 3);*/
        overflow: auto;
    }

}

@media screen and (max-width: 320px) {
    .filter-wrapper .filter-by-team a {
        max-width: 100px;
    }
}

