<div class="modal fade filter-modal filter-for-detail additional-service-filter-modal" id="additionalServiceModal"
     tabindex="-1" role="dialog"
     data-backdrop="static" data-keyboard="false"
     aria-labelledby="additionalServiceModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ADDITIONAL SERVICES</h5>
                <button type="button" class="close" aria-label="Close"
                        onclick="job_detail.onCloseAdditionalServiceModal()">
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="filter-modal-wrapper">
                    <div class="filter-header">
                        <div class="header-title">
                            <i class="fa fa-users" aria-hidden="true"></i>
                            <span>SERVICE</span>
                        </div>
                    </div>
                    <div class="filter-content">
                        {%if additional_services.length > 0%}
                        {% for item in additional_services %}
                        <a onclick="job_detail.onChangeAdditionalService(this)"
                           class="team-item {{item.isSelected?" active":""}}"
                        data-value="{{item.name}}">{{item.name}}</a>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
