.navbar {
    background: var(--bg-color);
}

.capitalize {
    text-transform: capitalize;
}

.btn-action {
    padding: 5px 30px;
    display: block;
    background: var(--color-job-detail-button);
    border: 1px solid var(--color-orange);
    border-radius: 20px;
    color: var(--color-title-active) !important;
    text-align: center;
    width: 85%;
    max-width: 200px;
}

.color-in-progress {
    color: var(--color-in-progress) !important;
}

.color-status-resolved {
    color: var(--color-resolve-ready) !important;
}

.color-non-compliant {
    color: var(--color-non-compliant) !important;
}

.color-status-escalate {
    color: var(--color-escalate) !important;
}

.color-status-ready {
    color: var(--color-green-light) !important;
}

.color-status-completed {
    color: var(--color-complete) !important;
}

.margin-top-20 {
    margin-top: 20px;
}

.navbar .job-title {
    margin-left: 20px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 20px;
    border-left: 1px solid var(--color-title);
    color: var(--color-title);
    text-transform: uppercase;
}

.navbar .job-title:hover, .navbar .job-title:focus, .navbar .job-title:active {
    color: var(--color-title);
}

body {
    background: var(--bg-color);
}

.color-yellow {
    color: var(--color-title-active) !important;
}

.color-orange-light {
    color: var(--color-job-detail-title) !important;
}

i.fa {
    margin-right: 5px;
}

.main-section {
    background: var(--bg-color);
}

.layout-main-section-wrapper {
    margin-bottom: 0;
}

.page-container {
    background: var(--bg-color);
    height: 100%;
}

.checklist-wrapper .input {
    position: relative;
}

.checklist-wrapper .input .custom-input {
    background: var(--background-gray);
    border: none;
    border-bottom: 1px solid var(--color-diver);
    color: var(--color-title-active);
    width: 100%;
}

.checklist-wrapper .input::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    display: block;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-bottom: 10px solid var(--color-diver);
    z-index: 0;
}

.checklist-wrapper .custom-input:focus {
    outline: none;
}

.job-detail-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: 14px;
    min-height: var(--vh);
}

.job-detail-wrapper .job-loading {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.job-detail-wrapper .job-loading .lds-text {
    color: white;
    font-size: 15px;
    letter-spacing: 0.1em;
}

.job-detail-wrapper span {
    color: white;
    font-size: 14px;
    padding-bottom: 0;
}

.job-container {
    background: var(--color-job-container);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.job-container .item-title {
    text-transform: uppercase;
    color: var(--color-job-detail-title);
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
}

.job-container .item-content {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.job-container .item-content .item-action {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 20px !important;
}

.job-container .item-content .timer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.job-container .item-content .timer-wrapper .time-content {
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.job-container .item-content .timer-wrapper .time-content .time-content-item {
    margin-bottom: 5px;
}

.job-container .item-content .timer-wrapper .time-content .time-content-item:last-child {
    margin-bottom: 0;
}

.job-container .item-content .timer-wrapper .time-content .time-content-item .color-orange-light {
    margin-right: 10px;
}

.job-container .item-content .timer-wrapper .time-content span {
    font-size: 18px;
}

.job-container .item-content .timer-wrapper .time-icon {
    font-size: 27px;
}

.job-container .item-content .timer-wrapper .time-icon i.fa {
    margin-right: 0;
    margin-left: 10px;
}

.job-container .item-content .item-action .action-title {
    width: 50%;
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-orange);
    border-right: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--color-gray);
    padding: 5px 10px;
}

.job-container .item-content .item-action .action-title span {
    font-size: 14px;
}

.job-container .item-content .item-action .action-content {
    width: 50%;
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-orange);
    border-left: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 5px 10px;
}

.job-container .item-content .item-action .action-content.additional-services {
    display: block;
    text-align: center;
}

.job-container .item-content .item-action .action-content.additional-services span:after {
    content: ",";
    display: inline-block;
}

.job-container .item-content .item-action .action-content.additional-services span:last-child:after {
    display: none;
}

.job-container .job-tab-wrapper {
    padding-left: 0;
    padding-right: 0;
}

.job-container .job-tab-wrapper .job-tab-header {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.job-container .job-tab-wrapper .job-tab-header .nav-item {
    flex: 1;
    text-align: center;
}

.job-container .job-tab-wrapper .job-tab-header .nav-item .nav-link {
    border: 1px solid var(--color-orange);
    background: var(--color-gray);
    padding: 5px 10px;
    border-radius: 0;
    border-right: 0;
    border-left: 0;
    color: white;
}

.job-container .job-tab-wrapper .job-tab-header .nav-item .nav-link.active {
    color: var(--color-title-active);
    background: black;
}

.job-container .job-tab-wrapper .job-tab-header .nav-item:first-child .nav-link {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-left: 1px solid var(--color-orange);
}

.job-container .job-tab-wrapper .job-tab-header .nav-item:last-child .nav-link {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-right: 1px solid var(--color-orange);
}

.job-container .job-tab-wrapper .job-tab-header .nav-item:first-child .nav-link {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.job-container .job-tab-wrapper .job-tab-content {
    background: var(--background-gray);
    overflow: auto;
    padding: 20px;
    height: 140px;
}

.job-container.activity-wrapper .job-tab-wrapper .job-tab-content {
    height: calc(var(--vh) - 475px);
}

.job-container .job-tab-wrapper .job-tab-content .job-tab-pane {
    display: flex;
    flex-direction: column;
}

.job-container .job-tab-wrapper .job-tab-content .job-tab-pane .item {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}

.job-container .job-tab-wrapper .job-tab-content .job-tab-pane .item:last-child {
    margin-bottom: 0;
}

.job-container .job-tab-wrapper .job-tab-content .job-tab-pane .item .label {
    flex: 1;
    text-align: right;
    padding-right: 5px;
    font-size: 14px;
    color: var(--color-job-detail-title);
    font-weight: bold;
}

.job-container .job-tab-wrapper .job-tab-content .job-tab-pane .item .input,
.job-container .job-tab-wrapper .job-tab-content .job-tab-pane .item .slider {
    flex: 1;
    text-align: left;
    padding-left: 5px;
}

.job-container .job-tab-wrapper .job-tab-content .job-tab-pane.post-install .item .slider {
    width: 80px;
    flex: unset;
}

.job-container .job-tab-wrapper .job-tab-content .job-tab-pane.post-install .item .label {
    width: calc(100% - 80px);
    flex: unset;
}

.job-container .job-tab-wrapper .job-tab-content .job-tab-pane.post-install {
    align-items: center;
}

.job-container .job-tab-wrapper .job-tab-content .job-tab-pane .btn-action {
    margin-bottom: 20px;
}

.job-container .job-tab-wrapper .job-tab-content .job-tab-pane.post-install .btn-action.last {
    margin-bottom: 0;
}

.job-container .job-tab-wrapper .job-tab-content.activity-pane {
    background: black;
}

.activity-item-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: white;
    position: relative;
}

.activity-item-wrapper:after {
    content: '';
    position: absolute;
    border-bottom: 2px solid var(--color-diver);
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100px
}

.activity-item-wrapper:last-child:after {
    display: none;
}

.activity-item-wrapper .activity-item-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
}

.activity-item-wrapper .activity-item-header .activity-owner {
    font-weight: 700;
    margin-right: 3px;
}

.activity-item-wrapper .activity-item-header .activity-title {
    display: flex;
    flex-direction: row;
}

.activity-item-wrapper .activity-item-header .activity-title .text-muted {
    margin-left: var(--margin-sm);
}

.activity-item-wrapper .activity-item-content img {
    border: 1px solid var(--color-diver);
    border-radius: 8px;
    padding: 15px;
}

.activity-item-wrapper .activity-item-content p {
    margin-bottom: 0;
}

.header-wrapper {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background: var(--bg-color);
    z-index: 1;
}

.header-wrapper .job-container {
    margin-bottom: 0;
}

.header-wrapper .item-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
}

.header-wrapper .item-header .header-title {
    font-size: 14px;
    display: flex;
    justify-items: baseline;
    line-height: 24px;
    max-width: 87%;

}

.header-wrapper .item-header .header-title i {
    font-size: 23px;
    margin-right: 5px;
}

.header-wrapper .item-header .header-title span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header-wrapper .item-header .btn-close {
    color: var(--color-green-light);
    font-size: 23px;
}

.header-wrapper .item-content {
    padding-left: 10px;
    padding-right: 10px;
}

.header-wrapper .item-content .header-item {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.header-wrapper .item-content .header-item.item-action:last-child {
    margin-bottom: 10px !important;
}

.header-wrapper .item-content .header-item.building-wrapper {
    justify-items: flex-start;
}

.header-wrapper .item-content .header-item.address span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
}

.header-wrapper .item-content .header-item.building-wrapper .item {
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header-wrapper .item-content .header-item.installer {
    justify-items: flex-start;
}

.header-wrapper .item-content .header-item.installer .item span.bold {
    font-size: 14px;
}

.record-wrapper .item-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.record-wrapper .item-content .btn-action {
    width: 49%;
    padding: 5px 10px;
}

.photo-viewer-modal .photo-wrapper {
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-viewer-modal .photo-wrapper img {
    border-radius: 8px;
}

@media screen and (max-width: 540px) {
    .header-wrapper {
        padding-bottom: 15px;
    }

    .job-container {
        padding: 10px;
        margin-bottom: 15px;
    }

    .job-container .item-title {
        padding-bottom: 10px;
    }

    .job-container .item-content .item-action {
        margin-bottom: 15px !important;
    }

    .job-container .job-tab-wrapper .job-tab-header {
        margin-bottom: 10px;
    }

    .job-container .job-tab-wrapper .job-tab-content {
        padding: 10px;
    }

    .job-container .job-tab-wrapper .job-tab-content .job-tab-pane .item {
        margin-bottom: 15px;
    }

    .job-container .job-tab-wrapper .job-tab-content .job-tab-pane .btn-action {
        margin-bottom: 15px;
    }

    .job-container.activity-wrapper .job-tab-wrapper .job-tab-content {
        height: calc(var(--vh) - 388px);
    }
}
