@import "fonts";

:root[data-theme=dark] {
  --color-peru: #ed7d31;
  --color-midnight-blue: #0042a0;
  --color-dodger-blue: #169cd8;
  --color-red: #9D3633;
  --color-title: #E3C14F;
  --color-in-progress: #FAAC4D;
  --color-resolve-ready: rgb(255, 255, 51);
  --color-non-complaint: #743EE2;
  --color-resolved: #FFFF33;
  --color-escalate: #FF5858;
  --color-complete: #0D54A8;
  --color-ready: #569627;
  --color-diver: rgb(102, 102, 102);
  --color-border-red: rgb(153, 0, 0);
  --color-orange: #DE6D28;
  --color-gray: #363636;
  --background-gray: #333333;
  --color-job-detail-button: #666666;
  --color-job-container: #232323;
  --color-title-active: #FEFD5D;
  --color-upload-photo: #FEFD5B;
  --color-switch-button: #81120B;
  --color-green-light: #94FB4A;
  --color-job-detail-title: #E5AD5B;
  --bg-color: #161A1F;
  --card-bg: #1C2126;
  --color-header-navbar-border: #E5AD5B;
  //--icon-fill: #F1C232;
  --icon-stroke: #F1C232;
  --sidebar-select-color: #0D54A8;
  --sidebar-select-text-color: #F2EFF3;
  --base-font: Raleway;
  --primary-button-background: #F1C232;
}

body {
  font-family: var(--base-font);
}

.z1n[data-theme=dark] {
  body {
    background-color: var(--bg-color);
  }
  // on the login page
  .navbar-light {
    background-color: transparent;
    border-bottom-color: var(--color-header-navbar-border);
    padding: 0 1rem;

    .navbar-brand img {
      max-width: 48px;
      max-height: 32px;
    }

    .navbar-toggler-icon {
      display: none; // nothing to show this hamburger button
    }
  }

  // shown when session expires
  .modal-backdrop {
    background-color: var(--bg-color) !important; // !important to override the style attribute
  }

  .btn.btn-primary {
    background-color: var(--primary-button-background);
    color: #444;
    --icon-stroke: #444;
  }

  input[type=checkbox] {
    border-color: #f1c232;
  }

  .capitalize {
    text-transform: capitalize;
  }

  input[type=checkbox]:checked {
    border-color: #f1c232;
    background-image: url("data:image/svg+xml, <svg viewBox='0 0 8 7' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1 4.00001L2.66667 5.80001L7 1.20001' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></svg>"), linear-gradient(180deg, #111111 -124.51%, #F1C232 100%);
  }

  header.navbar {
    border-bottom: solid var(--color-header-navbar-border) 1px;

    .search-bar {
      svg {
        stroke: var(--icon-stroke);
      }

      #navbar-search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #666666;
      }

      #navbar-search::-ms-input-placeholder { /* Microsoft Edge */
        color: #666666;
      }
    }

    .avatar .standard-image {
      border: solid var(--color-header-navbar-border) 1px;
    }
  }

  .page-head .page-head-content .title-text {
    color: #FAAC4D;
    font-size: 18px;
    text-transform: uppercase;
  }

  // the chart
  .data-point-value {
    fill: #F1C232;
    stroke: #F1C232;
  }

  #page-Workspaces {
    .layout-side-section {
      overflow-y: hidden;

      --z1n-panel-height: 170px;
      --z1n-panel-margin-bottom: 5px;

      // common
      .desk-sidebar {
        .standard-sidebar-label {
          font-weight: 600;
        }

        .standard-sidebar-item {
          margin: 0 5px;
        }

        .standard-sidebar-item.selected {
          .sidebar-item-label {
            color: var(--sidebar-select-text-color);
            font-weight: 700;
          }
        }

        .sidebar-item-label {
          color: #666666;
          text-transform: uppercase;
          font-size: 13px;
        }

        .standard-sidebar-item:hover .sidebar-item-label {
          color: white;
        }
      }

      .z1n-panel {
        border: solid 1px var(--color-gray);
        border-radius: var(--border-radius-md);
        height: var(--z1n-panel-height);
        margin-bottom: var(--z1n-panel-margin-bottom);
        overflow: hidden;

        .desk-sidebar {
          margin-bottom: 0;

          .standard-sidebar-item.selected {
            background-color: var(--sidebar-select-color);
          }
        }
      }

      .overlay-sidebar-wrapper {
        height: calc(100% - var(--z1n-panel-height) - var(--z1n-panel-margin-bottom));
        overflow-y: auto;

        .desk-sidebar {
          .standard-sidebar-item.selected {
            background-color: transparent;
          }
        }
      }
    }
  }

  .hide-item {
    display: none !important;
  }

  .page-head {
    top: 60px;
  }

  a.btn-filter {
    padding: 5px 30px;
    display: block;
    background: var(--color-gray);
    border: 1px solid var(--color-orange);
    border-radius: 20px;
    color: var(--color-title);
  }

  .status-in-progress {
    background-color: var(--color-in-progress);
    border-color: var(--color-in-progress);
    color: black;
  }

  .status-resolve-ready {
    background-color: var(--color-resolve-ready);
    border-color: var(--color-resolve-ready);
    color: black;
  }

  .status-non-complaint {
    background-color: var(--color-non-complaint);
    border-color: var(--color-non-complaint);
    color: white;
  }

  .status-escalate {
    background-color: var(--color-escalate);
    border-color: var(--color-escalate);
    color: white;
  }

  .status-ready {
    background-color: var(--color-ready);
    border-color: var(--color-ready);
    color: white;
  }

  .status-resolved {
    background-color: var(--color-resolved);
    border-color: var(--color-resolved);
    color: black;
  }

  .status-completed {
    background-color: var(--color-complete);
    border-color: var(--color-complete);
    color: white;
  }

  .border-red {
    border-color: var(--color-border-red);
  }

  .inactive-border {
    border-color: var(--color-diver);
  }

  .bold {
    font-weight: bold;
  }

  .italic {
    font-style: italic;
  }

  #body, #page-job-management, #page-job-detail {
    height: 100%
  }

  #page-job-management, #page-job-detail {
    .page-head {
      position: sticky;
      margin-bottom: 0;
    }
  }

  .check-slider {
    width: 60px;
    /* The switch - the box around the slider */
    .switch {
      position: relative;
      display: inline-block;
      right: 0;
      top: 0px;
      display: flex;
      align-items: flex-start;
      cursor: pointer;
      margin-bottom: 0;
    }

    /* Hide default HTML checkbox */
    .switch input {
      display: none;
    }

    /* The slider */
    .slider {
      position: relative;
      cursor: pointer;
      border-radius: 34px;
      background-color: var(--color-switch-button);
      -webkit-transition: .4s;
      transition: .4s;
      width: 50px;
      height: 24px;
      margin-right: 10px;
    }

    .slider-text {
      padding-top: 3px;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 18px;
      width: 18px;
      left: 4px;
      border-radius: 50%;
      bottom: 3px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
      background-color: var(--color-green-light);
    }

    input:focus + .slider {
      box-shadow: 0 0 1px var(--color-green-light);
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
  }

  .filter-modal {
    &.all-filter-modal {
      .all-filter-modal-wrapper {
        padding: 10px;

        .filter-content {
          margin-bottom: 10px;
        }
      }
    }

    .modal-title {
      color: var(--color-title);
      text-transform: uppercase;
    }

    button.close {
      color: var(--color-green-light);
      opacity: 1;
      border-radius: 65px;
      padding: 3px 6px;
      margin-top: 0;
      margin-right: 0;

      &:hover {
        opacity: 0.8;
      }
    }

    .modal-dialog {
      margin-top: 25px !important;
    }

    .modal-content {
      background-color: black;
      border-radius: 8px;
      max-height: calc(var(--vh) - 50px);
      overflow: auto;

      .modal-header {
        border-bottom: none;
        padding: 10px 10px 0;
      }

      .modal-body {
        padding: 10px;
      }
    }

    .filter-modal-wrapper {
      background: white;
      border-radius: 8px;
      padding: 20px;

      .filter-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        .header-title {
          color: var(--color-orange);
          font-size: 16px;
          text-transform: uppercase;
          font-weight: 600;
        }

        .fa {
          font-size: 20px;
        }

        @media screen and (max-width: 540px) {
          margin-bottom: 10px;
        }
      }

      .filter-content {
        display: flex;
        flex-direction: column;

        textarea.input-comment {
          min-height: 100px;
          border: 1px solid var(--color-gray);
          border-radius: 8px;
          padding: 5px 10px;
          background: white;

          &:focus {
            outline: none;
          }
        }

        .team-item {
          width: 100%;
          text-align: center;
          margin-bottom: 20px;
          padding: 10px 20px;
          color: var(--color-diver);
          font-weight: 700;
          border-radius: 8px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          &.active {
            background: black;
            color: var(--color-title);
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    &.filter-for-detail {
      .team-item {
        color: var(--background-gray) !important;

        &.active {
          color: var(--color-title-active) !important;
        }
      }
    }
  }

  .filter-modal.custom-file-upload {
    .file-upload-wrapper {
      background: var(--color-gray);
      padding: 20px;
      border-radius: 8px;

      .filter-modal-wrapper {
        background: transparent;
        padding: 0;

        .header-title {
          color: var(--color-title);
        }

        .file-uploader {
          min-height: 90px;
          max-height: 200px;
          overflow: auto;

          .file-upload-area {
            background: transparent;
            border: none;
            min-height: unset;

            .text-center {
              display: none;

              &.mt-2 {
                display: flex;
                flex-direction: row-reverse;

                .btn-file-upload {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  margin-left: 10px;
                  margin-right: 10px;

                  i.fa {
                    color: var(--color-upload-photo);
                    font-size: 25px;
                    margin-bottom: 10px;
                    margin-right: 0;
                  }

                  .mt-1 {
                    color: white;
                    font-size: 16px;
                  }

                  &:focus {
                    outline: none;
                  }
                }
              }
            }
          }

          .file-preview-area {
            .file-preview {
              padding-left: 0;
              padding-right: 0;

              .file-icon {
                height: 60px;
                width: 60px;
              }
            }

            .flex.align-center {
              position: absolute;
              top: -999999px;
              left: -999999px;
            }

            .ml-2.btn-reset {
              display: none;
            }
          }
        }
      }

      .filter-modal-action {
        display: flex;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .z1n-field-crew {
    #page-user-profile {
      .page-head-content {
        // Hide the "Switch User" button
        .page-actions {
          display: none;
        }
      }

      .leaderboard-link {
        display: none;
      }
    }

    #page-User {
      .form-assignments {
        // !important to override the style attribute which is added by an unknown script!
        display: none !important;
      }
    }
  }
}


