:root {
  --color-peru: #ed7d31;
  --color-midnight-blue: #0042a0;
  --color-dodger-blue: #169cd8;
  --color-red: #9D3633;
  --color-title: #E3C14F;
  --color-in-progress: #FAAC4D;
  --color-resolve-ready: rgb(255, 255, 51);
  --color-non-complaint: #743EE2;
  --color-resolved: #FFFF33;
  --color-escalate: #FF5858;
  --color-complete: #0D54A8;
  --color-ready: #569627;
  --color-diver: rgb(102, 102, 102);
  --color-border-red: rgb(153, 0, 0);
  --color-orange: #DE6D28;
  --color-gray: #363636;
  --color-job-container: #232323;
  --color-title-active: #FEFD5D;
  --color-switch-button: #81120B;
  --color-green-light: #94FB4A;
  --color-job-detail-title: #E5AD5B;
}

.hide-item {
  display: none !important;
}

.page-head {
  top: 60px;
}

a.btn-filter {
  padding: 5px 30px;
  display: block;
  background: var(--color-gray);
  border: 1px solid var(--color-orange);
  border-radius: 20px;
  color: var(--color-title);
}

.status-in-progress {
  background-color: var(--color-in-progress);
  border-color: var(--color-in-progress);
  color: black;
}

.status-resolve-ready {
  background-color: var(--color-resolve-ready);
  border-color: var(--color-resolve-ready);
  color: black;
}

.status-non-complaint {
  background-color: var(--color-non-complaint);
  border-color: var(--color-non-complaint);
  color: white;
}

.status-escalate {
  background-color: var(--color-escalate);
  border-color: var(--color-escalate);
  color: white;
}

.status-ready {
  background-color: var(--color-ready);
  border-color: var(--color-ready);
  color: white;
}


.status-resolved {
  background-color: var(--color-resolved);
  border-color: var(--color-resolved);
  color: black;
}

.border-red {
  border-color: var(--color-border-red) !important;
}

.inactive-border {
  border-color: var(--color-diver) !important;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

#body, #page-job-management, #page-job-detail {
  height: 100%
}

#page-job-management, #page-job-detail {
  .page-head {
    position: sticky;
    margin-bottom: 0;
  }
}
